export GOOGLE_CLIENT_ID=47691256928-k902b7fdbur5dsj2cv0ej3ag0bjph83l.apps.googleusercontent.com
export GOOGLE_CLIENT_SECRET=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

export NEXTAUTH_URL=http://localhost:3000/
export NEXTAUTH_SECRET=codeforfun

export NEXT_PUBLIC_SANITY_DATASET=production
export NEXT_PUBLIC_SANITY_PROJECT_ID=9uewlf71
export NEXT_PUBLIC_BASE_URL=http://localhost:3000/
export SANITY_API_TOKEN=skyfM6RTIN5B8drqfIbJ3GCXjNh57U4wukdlRZnxZ4ApJQy1Hu1AsNvfowaXnwJZjqy6QQYDbonugFTAVsngVtBS9pXogyQuVA8SANRiOuVIUvammoHTSBYPbaEGLizQmOpdmsKUJikRCNJPdb1gHt8dZPeWHfPLLggH542juloRPU9hV2St
