# General
export OS_NAME=mac
export TIME_ZOME=Asia/Tokyo

# Auth Service
# export AUTH_DB_HOST=192.168.0.2
# NOTE
# use host.docker.internal instead of localhost
# (this is only supported on Docker for Windows and Mac, but not on Linux).
export AUTH_DB_HOST=host.docker.internal

export AUTH_SERVICE_PORT=8081
export AUTH_DB_DRIVER=postgres
export AUTH_DB_USER=root
export AUTH_DB_PASSWORD=root
export AUTH_DB_NAME=auth_service_db
export AUTH_DB_PORT=5432
export AUTH_DB_ENDPOINT=${AUTH_DB_HOST}:${AUTH_DB_PORT}

export AUTH_LOCAL_DATA_DIR=./backend/auth_service/data
export AUTH_LOGFILE_PATH=${AUTH_LOCAL_DATA_DIR}/logs/app.log

export AUTH_API_SECRET=ssss
export AUTH_TOKEN_HOUR_LIFESPAN=1


# Tweet Service
export TWEET_SERVICE_PORT=8082

export TWEET_DB_HOST=host.docker.internal
export TWEET_DB_DRIVER=postgres
export TWEET_DB_USER=root
export TWEET_DB_PASSWORD=root
export TWEET_DB_NAME=tweet_service_db
export TWEET_DB_PORT=5433
export TWEET_DB_ENDPOINT=${TWEET_DB_HOST}:${TWEET_DB_PORT}

export TWEET_LOCAL_DATA_DIR=./backend/tweet_service/data
export TWEET_LOGFILE_PATH=${TWEET_LOCAL_DATA_DIR}/logs/app.log