export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=

export LOGFILE_PATH=${LOCAL_DATA_DIR}/logs/app.log
export LOCAL_DATA_DIR=./data

export DB_TYPE=postgres
export DB_USER=user  # to access the postgres database from backend
export DB_PASS=pass  # to access the postgres database from backend
export DB_ENDPOINT=192.168.0.25:5432 # to access the postgres database from backend {your network ip address}:5432

export BASE_URL=http://nginx:8080/api # for frontend to call backend api
